<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics Styling Problem</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Styling Problem </h1>
  </header>
  <section id="styling">
    <input type="text" v-model="inptuData">

    <p :class="[CastumParagraph,ControlDisplay]">
      style me!
    </p>
    <button @click="toggleParagraph()">Toggle Paragraph</button>

    <input type="text" v-model="getBackground">
    <p :style="{backgroundColor:getBackground}">Style me Inline!</p>
    <p></p>
  </section>


  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</body>

</html>